<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">BLOG DASHBOARD</a>
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#postModal" (click)="addClick()">Add Post</button>
    </div>
</nav>

<div class="container-fluid">
<h4> Category Overview
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#filterModal" (click)="addClick()">Filter by Category</button>
  </div>
  </h4>
</div>

<div class="row">
  <div class="col-xl-4 col-12" *ngFor="let c of categories">
      <div class="card">
          <div class="card-content">
              <div class="card-body pb-0">
                  <div class="row">
                      <div class="col-2">
                          <i class="warning font-large-2"></i>
                      </div>
                      <div class="col-5 pl-2">
                          <h4>{{c}}</h4>
                          <h6 class="text-muted">category</h6>
                      </div>
                      <div class="col-5 text-right">
                          <h4 *ngIf="c === 'gatti'">{{gattiNposts.length}}</h4>
                          <h4 *ngIf="c === 'pesci'">{{pesciNposts.length}}</h4>
                          <h4 *ngIf="c === 'cani'">{{caniNposts.length}}</h4>
                          <h6 class="success darken-4">POST NUMBER<i class="la"></i></h6>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div><canvas id="btc-chartjs" class="height-75 chartjs-render-monitor" style="display: block; height: 75px; width: 355px;" width="710" height="150"></canvas></div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
          <th scope="col">Creation Date</th>
          <th scope="col">Title</th>
          <th scope="col">Body</th>
          <th scope="col">Image</th>
          <th scope="col">Category</th>
          <th scope="col">Author</th>
          <th scope="col">Action</th>
		    </tr>
		  </thead>
		  <tbody *ngIf="postDetails && postDetails.length > 0">
        <tr *ngFor="let p of postDetails">
		      <th scope="row">{{p.date | date}}</th>
          <td>{{p.title}}</td>
          <td [innerHTML]="p.body " class="bodyTxt"></td>
		      <!-- <td>{{p.body | slice:0:6}}</td> -->
          <td class="w-25">
            <img [src]="p.image" class="img-fluid img-thumbnail" />		      
          </td>
          <td>{{p.category}}</td>
		      <td>{{p.author}}</td>
          <td>
            <button class="btn btn-sm btn-warning text-white m-2" (click)="edit(p)"
            data-bs-toggle="modal" data-bs-target="#postModal">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deletPostDetail(p.id)">Delete</button>
          </td>
		    </tr>
		  </tbody>
      <tbody *ngIf="postDetailsFilterByCategory && postDetailsFilterByCategory.length > 0">
        <tr *ngFor="let p of postDetailsFilterByCategory">
		      <th scope="row">{{p.date | date}}</th>
          <td>{{p.title}}</td>
		      <td>{{p.body | slice:0:6}}</td>
          <td class="w-25">
            <img [src]="p.image" class="img-fluid img-thumbnail" />		      
          </td>
          <td>{{p.category}}</td>
		      <td>{{p.author}}</td>
          <td>
            <button class="btn btn-sm btn-warning text-white m-2" (click)="edit(p)"
            data-bs-toggle="modal" data-bs-target="#postModal">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deletPostDetail(p.id)">Delete</button>
          </td>
		    </tr>
		  </tbody>
		</table>   
    </div>
  </div>
</div>





<!-- Button trigger modal -->


<!-- Add post Modal -->
<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Post</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="postForm">
          <div class="mb-3">
            <label  class="forl-label">Title</label>
            <input type="text" class="form-control" placeholder="Title" formControlName="title">
          </div>
  
          <div class="mb-3">
            <label  class="forl-label">Body</label>
            <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>
            <!-- <textarea class="form-control" type="text" class="form-control" placeholder="Body" formControlName="body"></textarea> -->
          </div>

          <div class="mb-3">
            <label  class="forl-label">Image</label>
            <input type="text" class="form-control" placeholder="Image url" formControlName="image">
          </div>

          <div class="mb-3">
            <label  class="forl-label">Category</label>
            <select class="form-control" name="category" formControlName="category">
              <option value="" disabled selected>Select a category</option>
              <option [value]="c" *ngFor="let c of categories">
                {{ c }}
              </option>
            </select>
          </div>
  
          <div class="mb-3">
            <label  class="forl-label">Author</label>
            <input type="text" class="form-control" placeholder="Author" formControlName="author">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close" (click)="reset()">Close</button>
        <button *ngIf="showUpdateBtn" type="button" class="btn btn-primary" (click)="updatePostBlog()">Update Post</button>
        <button *ngIf="showAddBtn" type="button" class="btn btn-success" (click)="addPostBlog()">Add Post</button>
      </div>
    </div>
  </div>
</div>


<!-- Filter modal -->

<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-select" aria-label="Default select example" (change)="filterPosts($event.target.value)">
          <option [value]="''" disabled selected>Select Filter</option>
          <option>all</option>
          <option [value]="c" *ngFor="let c of categories">
            {{ c }}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeFilter">Close</button>
        <!-- <button *ngIf="showUpdateBtn" type="button" class="btn btn-primary" (click)="updatePostBlog()">Update Post</button>
        <button *ngIf="showAddBtn" type="button" class="btn btn-success" (click)="addPostBlog()">Add Post</button> -->
      </div>
    </div>
  </div>
</div>
