<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">BLOG DASHBOARD</a>
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#postModal" (click)="addClick()">Add Post</button>
    </div>
</nav>

<div class="container-fluid">
<h4> Category Overview
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#filterModal" (click)="addClick()">Filter by Category</button>
  </div>
  </h4>
</div>

<div class="row">
  <div class="col-xl-4 col-12" *ngFor="let c of categories">
      <div class="card">
          <div class="card-content">
              <div class="card-body pb-0">
                  <div class="row">
                      <div class="col-2">
                          <i class="warning font-large-2"></i>
                      </div>
                      <div class="col-5 pl-2">
                          <h4>{{c}}</h4>
                          <h6 class="text-muted">category</h6>
                      </div>
                      <div class="col-5 text-right">
                          <h4 *ngIf="c === 'gatti'">{{gattiNposts?.length}}</h4>
                          <h4 *ngIf="c === 'pesci'">{{pesciNposts?.length}}</h4>
                          <h4 *ngIf="c === 'cani'">{{caniNposts?.length}}</h4>
                          <h6 class="success darken-4">POSTS<i class="la"></i></h6>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div><canvas id="btc-chartjs" class="height-75 chartjs-render-monitor" style="display: block; height: 75px; width: 355px;" width="710" height="150"></canvas></div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
          <th scope="col">Creation Date</th>
          <th scope="col">Title</th>
          <th scope="col">Body</th>
          <th scope="col">Image</th>
          <th scope="col">Category</th>
          <th scope="col">Author</th>
          <th scope="col">Action</th>
		    </tr>
		  </thead>
		  <tbody *ngIf="postDetails && postDetails.length > 0">
        <tr *ngFor="let p of postDetails">
		      <th scope="row">{{p.date | date}}</th>
          <td>{{p.title}}</td>
          <td [innerHTML]="p.body " class="bodyTxt"></td>
		      <!-- <td>{{p.body | slice:0:6}}</td> -->
          <td class="w-25">
            <img [src]="p.image" class="img-fluid img-thumbnail" />		      
          </td>
          <td>{{p.category}}</td>
		      <td>{{p.author}}</td>
          <td>
            <button class="btn btn-sm btn-warning text-white" (click)="edit(p)"
            data-bs-toggle="modal" data-bs-target="#postModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
            </button>
            <button class="btn btn-sm btn-danger " (click)="deletPostDetail(p.id)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
            <button class="btn btn-sm btn-success " routerLink="/detail/{{p.id}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg>
            </button>
            
          </td>
		    </tr>
		  </tbody>
      <tbody *ngIf="postDetailsFilterByCategory && postDetailsFilterByCategory.length > 0">
        <tr *ngFor="let p of postDetailsFilterByCategory">
		      <th scope="row">{{p.date | date}}</th>
          <td>{{p.title}}</td>
		      <td>{{p.body | slice:0:6}}</td>
          <td class="w-25">
            <img [src]="p.image" class="img-fluid img-thumbnail" />		      
          </td>
          <td>{{p.category}}</td>
		      <td>{{p.author}}</td>
          <td>
            <button class="btn btn-sm btn-warning text-white m-2" (click)="edit(p)"
            data-bs-toggle="modal" data-bs-target="#postModal">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deletPostDetail(p.id)">Delete</button>
          </td>
		    </tr>
		  </tbody>
		</table>   
    </div>
  </div>
</div>





<!-- Button trigger modal -->


<!-- Add post Modal -->
<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Post</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="postForm">
          <div class="mb-3">
            <label  class="forl-label">Title</label>
            <input type="text" class="form-control" placeholder="Title" formControlName="title">
          </div>
  
          <div class="mb-3">
            <label  class="forl-label">Body</label>
            <angular-editor formControlName="body" [config]="editorConfig"></angular-editor>
            <!-- <textarea class="form-control" type="text" class="form-control" placeholder="Body" formControlName="body"></textarea> -->
          </div>

          <div class="mb-3">
            <label  class="forl-label">Image</label>
            <input type="text" class="form-control" placeholder="Image url" formControlName="image">
          </div>

          <div class="mb-3">
            <label  class="forl-label">Category</label>
            <select class="form-control" name="category" formControlName="category">
              <option value="" disabled selected>Select a category</option>
              <option [value]="c" *ngFor="let c of categories">
                {{ c }}
              </option>
            </select>
          </div>
  
          <div class="mb-3">
            <label  class="forl-label">Author</label>
            <input type="text" class="form-control" placeholder="Author" formControlName="author">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close" (click)="reset()">Close</button>
        <button *ngIf="showUpdateBtn" type="button" class="btn btn-primary" (click)="updatePostBlog()">Update Post</button>
        <button *ngIf="showAddBtn" type="button" class="btn btn-success" (click)="addPostBlog()">Add Post</button>
      </div>
    </div>
  </div>
</div>


<!-- Filter modal -->

<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <select class="form-select" aria-label="Default select example" (change)="filterPosts($event.target.value)">
          <option [value]="''" disabled selected>Select Filter</option>
          <option>all</option>
          <option [value]="c" *ngFor="let c of categories">
            {{ c }}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeFilter">Close</button>
        <!-- <button *ngIf="showUpdateBtn" type="button" class="btn btn-primary" (click)="updatePostBlog()">Update Post</button>
        <button *ngIf="showAddBtn" type="button" class="btn btn-success" (click)="addPostBlog()">Add Post</button> -->
      </div>
    </div>
  </div>
</div>
