<div class="container-fluid" style="text-align: -webkit-center;">
    <h4> Category Overview
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#filterModal" (click)="addClick()">Filter by Category</button>
      </div>
      </h4>
</div>

<div class="row">
    <div class="col-xl-4 col-12" *ngFor="let c of categories">
        <div class="card">
            <div class="card-content">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-2">
                            <i class="warning font-large-2"></i>
                        </div>
                        <div class="col-5 pl-2">
                            <h4>{{c}}</h4>
                            <h6 class="text-muted">category</h6>
                        </div>
                        <div class="col-5 text-right">
                            <h4 *ngIf="c === 'gatti'">{{gattiNposts?.length}}</h4>
                            <h4 *ngIf="c === 'pesci'">{{pesciNposts?.length}}</h4>
                            <h4 *ngIf="c === 'cani'">{{caniNposts?.length}}</h4>
                            <h6 class="success darken-4">POSTS<i class="la"></i></h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div><canvas id="btc-chartjs" class="height-75 chartjs-render-monitor" style="display: block; height: 75px; width: 355px;" width="710" height="150"></canvas></div>
                </div>
            </div>
        </div>
    </div>
  </div>